
<div class="static-odds-container">
  <div class="static-odds-header">
    <h3 class="cs2-heading-3">Match Odds</h3>
    <span class="static-indicator">
      📸 Static
    </span>
  </div>
  
  <div class="odds-options">
    <div class="odds-option" data-team="team1">
      <div class="cs2-team-name">Team 1</div>
      <div class="cs2-odds-value">2.15</div>
    </div>
    <div class="odds-option" data-team="team2">
      <div class="cs2-team-name">Team 2</div>
      <div class="cs2-odds-value">1.85</div>
    </div>
  </div>
</div>
